<!DOCTYPE html>
<html>
<title>Generic Hotel Name: About</title>
<body>
	<h1>About GHN</h1>
	<p>Opening its grand doors in late 2015, Generic Hotel Name is the up and coming new hotel of Not Real City, Fiction. With a no-nonsense world class staff, GHN hopes to satisfy the needs of all its future clients with their top-notch services and the delicious meals available, as well as to attract tourists from all over the world to see the beautiful vistas located around Not Real City.</p>
	<p><a href="/" class="btn btn-primary btn-lg" role="button">Return to Front Page &raquo;</a></p>
	<p>&copy; Tan 2014</p></div>
</body>
</html>
