<!DOCTYPE html>
<title>Generic Hotel Name</title>
  <body>
	<ul>
		<li class="active"><a href="#">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/rooms">Rooms</a></li>
		<li><a href="/form">Sign-Up</a></li>
	</ul>       
			
	<h1>Welcome to Generic Hotel Name</h1>
	<p>Our website is currently still under construction, but please feel free to use the navigation bar to learn more about the hotel, our rooms, and maybe even sign-up for a room right now.</p>
	<p>&copy; Tan 2014</p>
  </body>
</html>
