<!DOCTYPE html>
<title>Generic Hotel Name: Rooms</title>
<body>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li class="disabled"><a href="/rooms">Rooms</a></li>
      <li><a href="/form">Sign-Up</a></li>
	</ul>
	<h3 class="text-muted">GHN</h3>

	<h1>GHN Rooms</h1>
	<p class="lead">GHN's goal as an up and coming world class hotel is to give its future clients excellent service and a great experience. To ensure this, we offer a variety of room types to suite the various needs of our future clients.</p>
	<p><a class="btn btn-lg btn-success" href="/form" role="button">Sign-Up &raquo;</a></p>

	<h4>Standard Single Room</h4>
	<p>GHN offers a standard single-bed room for single clients.</p>

	<h4>Standard Double Room</h4>
	<p>GHN offers a standard room with a single queen-sized bed.</p>

	<h4>Standard Family Room</h4>
	<p>GHN offers a standard room for larger groups that feature two queen-sized beds.</p>

	<h4>VIP Single Room</h4>
	<p>GHN offers a more extravagant single-bed room for its VIP clients.<p>

	<h4>VIP Double Room</h4>
	<p>GHN offers an extravagant room for its VIP clients featuring a single queen-sized bed.</p>

	<h4>VIP Hotel Suite</h4>
	<p>GHN's most exclusive room is a lavish suite reserved for its most important clients.</p>
		<p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
	<p>&copy; Tan 2014</p>
</body>
</html>
